body {
	font-size: 16px;
}

#container {
	width: 300px;
}

h1 {
	font-size: 1em;
	font-weight: bold;
}

input[type='checkbox'] {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

label {
	display: flex;
	align-items: center;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -8px; /*bodyのmargin:8px;を打ち消す*/
	margin-right: -8px;
}

details {
	margin-top: 10px;
}

.warn-for-exec-replace {
	margin-top: 5px;
	margin-left: 5px;
	font-size: small;
}

textarea {
	word-break: break-all;
	width: calc(100% - 8px); /* 100%にすると右側がbodyのmargin:8px分を無視する */
}
