body {
	font-size: 16px;
}

h1 {
	margin-top: 30px;
	font-size: 1.5em;
}

textarea {
	font-family: ui-monospace;
}

textarea.example {
	display: block;
	margin-bottom: 10px;
	background: lightgray;
	height: 60px;
}

textarea.main {
	width: 500px;
	height: 200px;
	display: block;
}

.error-row {
	padding: 10px 0px;
	border-bottom: solid 1px #555;
}

.error-row:last-child {
	padding: 10px 0px;
	border-bottom: none;
}
